<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sigpelada</title>
 
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
 
    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
 
<div class="container">
    <div class="jumbotron">
        <h1>SigPelada</h1>
    </div>
 
    <div>
        <a class="btn btn-primary" th:href="@{/times/cadastro}">Novo Time</a>
    </div>
    <hr/>
 
    <div th:if="${times != null}">
        <h4>
            Times
        </h4>
 
        <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
                <span th:text="${mensagem}">mensagem</span>
            </div>
        </div>
 
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Uniforme</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tr th:each="time : ${times}">
                <td >
                    <a th:text="${time.nome}" th:href="@{/times/{id}/jogadores/listar(id=${time.id})}">nome</a>
                </td>
                <td th:text="${time.uniforme}">Uniforme</td>
                <td>
                    <a class="btn btn-sm btn-info" th:href="@{/times/{id}/atualizar(id=${time.id})}">Editar</a>
                    <a class="btn btn-sm btn-danger" th:href="@{/times/{id}/remover(id=${time.id})}">Excluir</a>
                </td>
            </tr>
        </table>
    </div>
 
    <div th:if="${#lists.isEmpty(times)}">
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            0 times cadastrados!
        </div>
    </div>
    <hr/>
 
    <a class="btn btn-light" href="/home">Voltar</a>
    <hr/>
 
    <footer class="footer">
        <p>&copy; 2019 SergioLuna</p>
    </footer>
 
</div>
</body>
</html>